html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border: solid green 1px;
    background-color: black;

    .navbar-left {
      border: solid red 1px;
      color: brown;
    }

    .navbar-center {
      border: solid purple 1px;
      color: yellow;
    }

    .navbar-right {
      border: solid blue 1px;
      display: flex;
      justify-content: space-between;
      color: hotpink;
    }
  }
  i {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid green 1px;
    background-color: black;

    .navbar-left {
      border: solid red 1px;
      color: brown;
    }

    .navbar-center {
      border: solid purple 1px;
      color: yellow;
    }

    .navbar-right {
      border: solid blue 1px;
      display: flex;
      justify-content: space-between;
      color: hotpink;
    }
  }
  i {
    color: turquoise;
    cursor: pointer;
  }
}
